In [1]:
#!pip install seaborn
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
dataset = pd.read_csv('UniversalBank.csv')
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
#x value
X = dataset.loc[:,dataset.columns!='CreditCard']
X.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0

In [4]:
# y value
y = dataset['CreditCard']
y.head()

0    0
1    0
2    0
3    0
4    1
Name: CreditCard, dtype: int64

In [5]:
#train test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=None)

In [6]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [7]:
# Creating a instance
classifier = SVC(kernel='rbf',random_state=None)

# Fitting the model
classifier.fit(X_train, y_train)

SVC()

In [8]:
#intercept
print("intercept")
print(classifier.intercept_)
print("")

#suport vectors for each class
print("support vectors for each class")
print(classifier.n_support_)
print("")

# more vectors
print(classifier.support_vectors_)

intercept
[-0.5335005]

support vectors for each class
[1136  824]

[[ 0.61009795 -0.64500211 -1.05720563 ... -0.3400829  -0.25339133
   0.8193346 ]
 [-1.03514463 -1.16776486 -1.05720563 ... -0.3400829  -0.25339133
  -1.22050258]
 [ 1.46012838  1.09754039  1.20004936 ... -0.3400829  -0.25339133
  -1.22050258]
 ...
 [ 0.83977964 -1.25489198 -1.31765813 ... -0.3400829  -0.25339133
  -1.22050258]
 [ 0.47270528  1.44604889  1.54731936 ... -0.3400829  -0.25339133
  -1.22050258]
 [-0.03106786  1.62030314  1.54731936 ... -0.3400829  -0.25339133
   0.8193346 ]]

In [9]:
# Predicting train set
y_pred_train = classifier.predict(X_train)
print("train prediction: ",y_pred_train)

#predicting test set
y_pred_test = classifier.predict(X_test)
print("test prediction: ",y_pred_test)

train prediction:  [0 0 0 ... 0 0 0]
test prediction:  [1 0 0 ... 0 0 0]

In [10]:
#accuracy
accuracy_train = accuracy_score(y_train, y_pred_train)
print("train prediciton accuracy: ",accuracy_train)
print("")

accuracy_test = accuracy_score(y_test, y_pred_test)
print("test prediciton accuracy: ",accuracy_test)

train prediciton accuracy:  0.745

test prediciton accuracy:  0.7465

In [11]:
#correlation
correlation = dataset.corr()
print(correlation)

                          ID       Age  Experience    Income  ZIP Code  \
ID                  1.000000 -0.008473   -0.008326 -0.017695  0.013432
Age                -0.008473  1.000000    0.994215 -0.055269 -0.029216
Experience         -0.008326  0.994215    1.000000 -0.046574 -0.028626
Income             -0.017695 -0.055269   -0.046574  1.000000 -0.016410
ZIP Code            0.013432 -0.029216   -0.028626 -0.016410  1.000000
Family             -0.016797 -0.046418   -0.052563 -0.157501  0.011778
CCAvg              -0.024675 -0.052012   -0.050077  0.645984 -0.004061
Education           0.021463  0.041334    0.013152 -0.187524 -0.017377
Mortgage           -0.013920 -0.012539   -0.010582  0.206806  0.007383
Personal Loan      -0.024801 -0.007726   -0.007413  0.502462  0.000107
Securities Account -0.016972 -0.000436   -0.001232 -0.002616  0.004704
CD Account         -0.006909  0.008043    0.010353  0.169738  0.019972
Online             -0.002528  0.013702    0.013898  0.014206  0.016990
CreditCard          0.017028  0.007681    0.008967 -0.002385  0.007691

                      Family     CCAvg  Education  Mortgage  Personal Loan  \
ID                 -0.016797 -0.024675   0.021463 -0.013920      -0.024801
Age                -0.046418 -0.052012   0.041334 -0.012539      -0.007726
Experience         -0.052563 -0.050077   0.013152 -0.010582      -0.007413
Income             -0.157501  0.645984  -0.187524  0.206806       0.502462
ZIP Code            0.011778 -0.004061  -0.017377  0.007383       0.000107
Family              1.000000 -0.109275   0.064929 -0.020445       0.061367
CCAvg              -0.109275  1.000000  -0.136124  0.109905       0.366889
Education           0.064929 -0.136124   1.000000 -0.033327       0.136722
Mortgage           -0.020445  0.109905  -0.033327  1.000000       0.142095
Personal Loan       0.061367  0.366889   0.136722  0.142095       1.000000
Securities Account  0.019994  0.015086  -0.010812 -0.005411       0.021954
CD Account          0.014110  0.136534   0.013934  0.089311       0.316355
Online              0.010354 -0.003611  -0.015004 -0.005995       0.006278
CreditCard          0.011588 -0.006689  -0.011014 -0.007231       0.002802

                    Securities Account  CD Account    Online  CreditCard
ID                           -0.016972   -0.006909 -0.002528    0.017028
Age                          -0.000436    0.008043  0.013702    0.007681
Experience                   -0.001232    0.010353  0.013898    0.008967
Income                       -0.002616    0.169738  0.014206   -0.002385
ZIP Code                      0.004704    0.019972  0.016990    0.007691
Family                        0.019994    0.014110  0.010354    0.011588
CCAvg                         0.015086    0.136534 -0.003611   -0.006689
Education                    -0.010812    0.013934 -0.015004   -0.011014
Mortgage                     -0.005411    0.089311 -0.005995   -0.007231
Personal Loan                 0.021954    0.316355  0.006278    0.002802
Securities Account            1.000000    0.317034  0.012627   -0.015028
CD Account                    0.317034    1.000000  0.175880    0.278644
Online                        0.012627    0.175880  1.000000    0.004210
CreditCard                   -0.015028    0.278644  0.004210    1.000000